46 3    * * 1   root    head -c 26 /dev/urandom > /tmp/keyfile
47 3    * * 1   root    curl -X POST -H 'Content-Type: application/json' -d "{\"password\": \"`cat /var/run/secrets/admin-password`\"}" http://app:5000/refresh-key
48 3    * * *   root    curl -X POST -H 'Content-Type: application/json' -d "{\"password\": \"`cat /var/run/secrets/admin-password`\"}" http://app:5000/epoch-update-totals
