/* colors

*/

/* toc:
/* base styles
** header
** content
** footer
** individual pages
** various custom elements (tooltips, badger-download)
*/
@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  text-align: left;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
}

a {
  color: #f58528;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}


h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

/* header */

#header a {
  outline: none;
}

#header .banner {
  min-height: 237px;
}

#header .banner .bar  {
  background-color: #000;
  height: 33px;
}

#header .banner .bar  {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

#header .banner .bar  img.logo {
  height: 13px;
}

#header .banner .bar  .title {
  color: #f58528;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  top: 0.5rem;
}

#header .banner .bar .title a {
  font-weight: normal;
}

#header .banner .bar  .donate {
  background-color: #f58528;
  border-radius: 4px;
  box-shadow: 0 0 2px #47260b;
  color: #0c0602;
  cursor: pointer;
  float: right;
  font-size: 12px;
  font-weight: 800;
  height: 21px;
  line-height: 22px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 12px;
  margin-left: 15px;
  transition: .16s background-color;
  width: 87px;
}

#header .banner .bar  .donate:hover {
  background-color: #f46f00;
}

#header .banner img.title {
  height: 90px;
  margin-left: 10px;
  padding: 28px 0 0;
  width: 400px;
}

#header .banner .subtitle {
  color: black;
  font-size: 27px;
  font-weight: bold;
  margin: 6px 0 0;
}


@media screen and (max-width: 579px) {
  #header .banner {
    min-height: 200px;
  }


  #header .banner .bar  {
    height: 36px;
  }

  #header .banner .bar .title {
    font-size: 7px;
    letter-spacing: 1px;
    line-height: 1.6;
    max-width: 50%;
    min-width: auto;
    padding-left: 22px;
    top: 12px;
    width: 180px;
  }

  #header .banner .bar  .donate {
    margin-right: 10px;
    top: 10px;
  }

  #header .banner .bar .logo {
    left: 10px;
    top: 10px;
  }

  #header .banner img.title {
    height: 57px;
    width: 250px;
  }

  #header .banner .subtitle {
    font-size: 15px;
  }
}

iframe {
  border: none;
}

/* content */

.column-right {
  width: 70%;
}

.column-left {
  width: 30%;
}

/* individual pages */
div.entropy,
div#about,
div#front,
div#privacy,
div#results-wrapper,
div#self-defense {
  width: auto;
}

/* front page */

#front {
  display: flex;
  margin: 0 auto;
}

#front .column-right {
  background-image: url("/static/images/wireframe-flock.png");
  background-size: cover;
}

a#clicklink {
  background-color: #ec1c24;
}

a#kcarterlink {
  background-color: #ec1c24;
}
a.circle:hover {
  text-decoration: none;
}

.row {
  margin-left: 87px;
}

a.circle {
  border-radius: 92px;
  display: table-cell;
  width:92px;
  height:92px;
  color: #fff;
  font-weight: normal;
  vertical-align: middle;
}


p#disclaimer {
  text-align:center;
  margin:0
}
/* testing page */
.testing {
  display: flex;
}
/* results page */

table#results {
  font-size:12px;
  font-family:helvetica, sans;
  border:1px solid gray;
  background-color:#f0f0f0;
  border-collapse:collapse;
  border-spacing:2px;
  margin:50px auto 0;
  max-width:900px
}

th {
  text-align:center;
  border:1px solid gray;
  padding:2px
}

td {
  vertical-align:center;
  text-align:center;
  border:1px solid gray;
  padding:2px
}


table#results font[size="-2"] {
    word-break: break-all;
}

table#results.tracker_results {
    margin: 10px auto;
}

p.tracker_results {
  font-size: 12px;
}

@media screen and (max-width: 579px) {
  table#results {
    font-size: 8px;
  }

  table#results font {
    font-size: inherit;
  }
}


.var {
  font-weight:700
}

.entropy {
  margin:0 auto;
  text-align:justify;
  width:500px;
}

/* privacy page */

#privacy, #about, #self-defense {
  margin:0 auto;
  text-align:left;
  width:500px
}

#privacy h2, #about h2 {
  margin: 0;
}

/* results page */
div#results-wrapper {
  display: flex;
  margin: 0 auto;
}
div#results-wrapper .row{
  margin: 16px auto 0;
}
/* footer */

#footer {
  margin-top:20px
}

#footer img.logo {
  height: 40px;
  margin: 22px auto 6px;
  outline: none;
}


#footer .links {
  margin: 18px auto 0;
}

#footer .links a {
  display: inline-block;
  font-size: 13px;
  font-weight: 800;
  padding: 0 7px 7px;
  text-transform: uppercase;
}

small#center {
  margin:0 60px
}

#ad_status, #tracker_status, #dnt_status{
  vertical-align: middle;
}
.complimentary_text{
  display: inline-block;
  position: relative;
  top: -3px;
}
.test_label{
  text-align: left;
}
.tracker_results td{
  padding: 5px;
}
#summary_sentence{
  font-size: inherit;
  font-weight: normal;
  margin: 0 0 24px;
}

table#results.tracker_results{
  margin-top: 10px;
}
#badger-download {
  margin-top: 20px !important;
  display: block;
  text-align: center;
  max-width: 405px;
  width: 300px;
  margin-bottom: 6px;
  border: 2px solid #658741;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em;
  padding: 1.1em 0.8em;
  text-transform: uppercase;
  clear: both;
  background-color: white;
}
#badger-download:hover {
  background-color: #658741;
  cursor: pointer;
}
#badger-download:hover a {
  color: #fff;
}
#badger-download a:hover{
  text-decoration: none;
}
#badger-download a {
  font-size: 1.4em;
  color: #658741;
  font-weight: normal;
}
#badger-download a div {
  color: #575654;
  font-size: 0.75em;
}
#badger-download:hover a div {
  color: white;
}

p#summary_sentence .other_link{
  text-align: center;
  margin: 0px;
}

label#acceptable_ads{
  display: block;
  margin-top: 10px;
}
label#acceptable_ads sup{
  color: blue;
  text-decoration: underline;
  font-size: 70%;
}
.ui-tooltip-content{
  text-align: left;
}
#acceptable_ads_tr{
  display: none;
}

/* various elements */

#buttons {
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  width: 100%;
}

#buttons .row {
  margin: 0 auto;
}

#buttons .row a#kcarterlink {
  background-color: #f58528;
  border-radius: 6px;
  box-shadow: 0 0 1px #aacef4;
  display: block;
  font-size: 28px;
  font-weight: 800;
  height: 58px;
  line-height: 58px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 1px 0 #f58528;
  text-transform: uppercase;
  transition: .16s background-color;
  width: 176px;
}

#buttons .row a#kcarterlink:hover,
div#results-wrapper #buttons .row a#kcarterlink:hover {
  background-color: #f46f00;
  border-color: #f46f00;
}


div#results-wrapper #buttons .row a#kcarterlink {
  border: 2px solid #f58528;
  font-size: 21px;
  height: auto;
  line-height: 1;
  margin: 0 auto;
  max-width: calc(100% - 32px);
  padding: 16px 12px;
  text-align: center;
  width: 300px;
}

@media screen and (max-width: 579px) {
  div#results-wrapper #buttons .row a#kcarterlink {
    font-size: 18px;
  }
}

.tooltip-inner {
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-top-color: #333;
}


#badger-download[javascript="disabled"],
#badger-download[javascript="disabled"]:hover {
  background: none;
  border: none;
  color: #f58528;
  cursor: default;
  margin: 0 auto;
  padding: 0 0 12px;
}

#badger-download[javascript="disabled"] a,
#badger-download[javascript="disabled"] .other_link {
  color: #f58528;
  display: block;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: normal;
}

#badger-download[javascript="disabled"] a:hover {
  text-decoration: underline;
}

#badger-download[javascript="enabled"] {
  background-color: #007DFF;
  border-color: #007DFF;
  letter-spacing: normal;
  max-width: calc(100% - 32px);
  padding: 16px 12px;
  transition: .16s background-color, .16s border-color;
}

#badger-download[javascript="enabled"] a {
  color: #fff;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
  text-shadow: 0px 1px 0px #0070ff;
}

#badger-download[javascript="enabled"] a div {
  color: #fff;
  display: inline-block;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  position: relative;
}

#badger-download[javascript="enabled"]:hover {
  background-color: #006cff;
  border-color: #006cff;
}

#badger-download[javascript="enabled"]:hover a div {
  color: #fff;
}

@media screen and (max-width: 579px) {
  #badger-download[javascript="enabled"] a {
    font-size: 18px;
  }
}

#badger-download.not_supported{
  width: 100%;
  max-width: none;
  text-transform: none;
  letter-spacing: normal;
}


.fingerprint-thanks {
  padding: 32px 0 0;
}

.ii{
  font-weight: bold;
  color: #a00;
  font-size: 80%;
}
