
#badger-download[javascript="disabled"],
#badger-download[javascript="disabled"]:hover {
  background: none;
  border: none;
  color: #f58528;
  cursor: default;
  margin: 0 auto;
  padding: 0 0 12px;
}

#badger-download[javascript="disabled"] a,
#badger-download[javascript="disabled"] .other_link {
  color: #f58528;
  display: block;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: normal;
}

#badger-download[javascript="disabled"] a:hover {
  text-decoration: underline;
}

#badger-download[javascript="enabled"] {
  background-color: #007DFF;
  border-color: #007DFF;
  letter-spacing: normal;
  max-width: calc(100% - 32px);
  padding: 16px 12px;
  transition: .16s background-color, .16s border-color;
}

#badger-download[javascript="enabled"] a {
  color: #fff;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
  text-shadow: 0px 1px 0px #0070ff;
}

#badger-download[javascript="enabled"] a div {
  color: #fff;
  display: inline-block;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  position: relative;
}

#badger-download[javascript="enabled"]:hover {
  background-color: #006cff;
  border-color: #006cff;
}

#badger-download[javascript="enabled"]:hover a div {
  color: #fff;
}

@media screen and (max-width: 579px) {
  #badger-download[javascript="enabled"] a {
    font-size: 18px;
  }
}

@media screen and (max-width: 579px) {
  table#results {
    font-size: 8px;
  }

  table#results font {
    font-size: inherit;
  }
}

#summary_sentence {
  font-size: inherit;
  font-weight: normal;
  margin: 0 0 24px;
}

table#results.tracker_results {
    margin: 10px auto;
}

p.tracker_results {
  font-size: 12px;
}

table#results font[size="-2"] {
    word-break: break-all;
}

.fingerprint-thanks {
  padding: 32px 0 0;
}

.ii{
  font-weight: bold;
  color: #a00;
  font-size: 80%;
}

#badger-download.not_supported{
  width: 100%;
  max-width: none;
  text-transform: none;
  letter-spacing: normal;
}
