body {
  background-attachment: fixed;
  background-color: #3e3d3d;
  background-image: url(./images/thumbprint.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 0;
  min-width: 320px;
}

@media screen and (max-width: 1149px) {
  body {
    background-size: 910px 650px;
  }
}

@media screen and (max-width: 479px), screen and (max-height: 479px) {
  body {
    background-position: top center;
  }
}

a {
  color: #f58528;
}

div#wrapper {
  background: none;
}

#credit {
  display: none;
}

#header a {
  outline: none;
}

#header .orange {
  background-color: #f58528;
  min-height: 175px;
}

#header .orange .bar .upper {
  background-color: #000;
  height: 26px;
}

#header .orange .bar .upper .width-wrapper {
  margin: 0 auto;
  max-width: 440px;
  position: relative;
}

#header .orange .bar .upper .width-wrapper .logo {
  background-image: url(./images/logo-small.png);
  background-size: 24px 17px;
  cursor: pointer;
  float: left;
  height: 17px;
  outline: none;
  position: relative;
  top: 9px;
  width: 24px;
}

#header .orange .bar .upper .width-wrapper .title {
  color: #f58528;
  float: left;
  font-size: 8px;
  min-width: 285px;
  padding-left: 11px;
  position: relative;
  text-align: left;
  top: 14px;
}

#header .orange .bar .upper .width-wrapper .donate {
  background-color: #f58528;
  border-radius: 2px;
  box-shadow: 0 0 2px #47260b;
  color: #0c0602;
  cursor: pointer;
  float: right;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 800;
  height: 17px;
  letter-spacing: 1px;
  line-height: 1.7;
  margin-right: 25px;
  outline: none;
  position: relative;
  text-align: center;
  top: 8px;
  width: 69px;
  text-decoration: none;
  transition: .16s background-color;
}

#header .orange .bar .upper .width-wrapper .donate:hover {
  background-color: #f46f00;
}

#header .orange .bar .lower {
  background-image: url(./images/squiggle.png);
  background-position: 50% 0;
  background-size: 625px 10px;
  height: 10px;
}

#header .orange img.title {
  height: 72px;
  padding: 20px 0 8px;
  width: 317px;
}

#header .orange .subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

#header .orange-slash {
  left: 0;
  position: absolute;
  top: 174px;
  width: 100%;
}

@media screen and (max-width: 479px) {
  #header .orange {
    min-height: 165px;
  }

  #header .orange-slash {
    top: 165px;
  }

  #header .orange .bar .upper {
    height: 36px;
  }

  #header .orange .bar .upper .width-wrapper .title {
    max-width: 50%;
    min-width: auto;
    padding-left: 24px;
    top: 12px;
  }

  #header .orange .bar .upper .width-wrapper .donate {
    margin-right: 10px;
    top: 10px;
  }

  #header .orange .bar .upper .width-wrapper .logo {
    left: 10px;
    top: 10px;
  }

  #header .orange img.title {
    height: 57px;
    width: 250px;
  }

  #header .orange .subtitle {
    font-size: 15px;
  }
}

#content {
  margin: 0 auto 62px;
  min-height: 300px;
}

#content .content-background {
  background-color: rgba(255, 255, 255, 0.931);
  margin: 0 auto 62px;
  max-width: 750px;
  padding: 24px 20px;
  position: relative;
  width: 75%;
  z-index: 9;
}

@media screen and (max-width: 479px) {
  #content .content-background {
    background-color: #fff;
    width: calc(100% - 40px);
  }
}

iframe {
  border: none;
}

#footer {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 200px;
  padding: 35px 0 0;
  position: relative;
  z-index: 9;
}

@media screen and (max-width: 479px) {
  #footer {
    min-height: 300px;
  }
}

#footer .social-share-buttons {

}

#footer .social-share-buttons a {
  background-color: #f58528;
  border-radius: 4px;
  box-shadow: 0 0 2px #e7d5c7;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  margin: 0 18px 18px;
  outline: none;
  text-transform: uppercase;
  transition: .16s background-color;
  width: 138px;
}

#footer .social-share-buttons a:hover {
  background-color: #f46f00;
  text-decoration: none;
}

#footer .logo {
  background-image: url(./images/logo.png);
  background-size: 49px 34px;
  cursor: pointer;
  display: block;
  height: 34px;
  margin: 14px auto 6px;
  outline: none;
  width: 49px;
}

#footer .subtitle {
  font-size: 10px;
  font-weight: bold;
  text-shadow: 0 0 1px #fffaee;
  text-transform: uppercase;
}

#footer .links {
  margin: 14px auto 0;
}

#footer .links a {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 0 7px 7px;
  text-transform: uppercase;
}

div.entropy,
div#about,
div#front,
div#privacy,
div#results_wrapper,
div#self-defense {
  width: auto;
}

div#front p:nth-of-type(1) {
  margin-top: 0;
}

#buttons {
  border-spacing: 0;
  width: 100%;
}

#buttons .row {
  margin: 0 auto;
}

#buttons .row a#trackerlink {
  background-color: #007dff;
  border-radius: 6px;
  box-shadow: 0 0 1px #aacef4;
  display: block;
  font-size: 22px;
  font-weight: bold;
  height: 48px;
  line-height: 49px;
  margin: 0 auto;
  text-shadow: 0 1px 0 #0070ff;
  text-transform: uppercase;
  transition: .16s background-color;
  width: 140px;
}

#buttons .row a#trackerlink:hover {
  background-color: #006cff;
}

div#results_wrapper .row {
  margin: 16px auto 0;
}

div#results_wrapper #buttons .row a#trackerlink {
  height: auto;
  width: auto;
}

@media screen and (max-width: 479px) {
  div#results_wrapper #buttons .row a#trackerlink {
    font-size: 16px;
  }
}
