<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<html>
<head>
  <title>Cover Your Tracks Page Not Found</title>
  <link rel="stylesheet" href="static/style.css" type="text/css" />
  <link rel="stylesheet" href="static/animation.css" type="text/css" />
  <link rel="shortcut icon" href='/static/favicon.ico'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta property="og:image" content="https://{{ config.get('SITE_DOMAIN') }}/static/images/cyt-banner.png"/>
  <meta property="og:image:secure_url" content="https://{{ config.get('SITE_DOMAIN') }}/static/images/cyt-banner.png"/>
  <meta property="og:description" content="See how trackers view your browser "/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body id="not-found-404">
  <div>
    <img src="/static/images/404.svg">
    <h1>Not Found</h1>
    <p>The requested URL was not found on the server. <br/>
      If you entered the URL manually please check your spelling and try again.</p>
      <p><a href="/">Return to site</a></p>
  </div>
</body>
</html>
