{% extends "layout.html" %}

{% block body %}
  <div id="about">
    <h2>What fingerprints does your browser leave behind as you surf the web?</h2>
    <p>
    Traditionally, people assume they can prevent a website from identifying them by disabling <a href="http://en.wikipedia.org/wiki/HTTP_cookie">cookies</a> on their web browser.  Unfortunately, this is not the whole story.  
    </p><p>
    When you visit a website, you are allowing that site to access a lot of information about your computer's configuration.  Combined, this information can create a kind of fingerprint &mdash; a signature that could be used to identify you and your computer.  Some <a href="http://en.wikipedia.org/wiki/Device_fingerprint">companies are already using technology to try to identify individual computers</a>.  But how effective would this kind of online tracking be?  
    </p><p>
    EFF is running an experiment to find out.  Panopticlick will anonymously log the configuration and version information from your operating system, your browser, and your plug-ins, and compare it to our database of many other Internet users' configurations.  Then, it will give you a uniqueness score &mdash; letting you see how easily identifiable you might be as you surf the web.
    </p><p>
    Adding your information to our database will help EFF evaluate the capabilities of
    Internet tracking and advertising companies, who are in the business of
    finding as many ways as possible to record your online activities.  They
    develop these methods in secret, and don't always tell the world what
    they've found.  But this experiment should give us more insight into
    the future of online tracking, and <a href="/self-defense">what web users
    can do to protect themselves</a>.
    </p>
  </div>
{% endblock %}
