<br>
<div class='entropy' style='text-align:center border:1px'>
  {% if matching == 1: %}
    <p>Your browser fingerprint <strong>appears to be unique</strong> among the {{ total_formatted }} tested so far.</p>
  {% else %}
    <p>Within our dataset of {{ sample_string }} visitors, {% if group > 100 %}only {% endif %}<strong>one in {{ group }} browsers have the same fingerprint as yours.</strong></p>
  {% endif %}
  <p>Currently, we estimate that your browser has a fingerprint that conveys <strong>{% if matching == 1 %}at least {% endif %}{{ bits }} bits of identifying information.</strong></p>
  {% if total < 10000 %}
    <p>Because our dataset is still quite small, you might want to check back later for a more accurate measurement of your browser's uniqueness.</p>
  {% endif %}
  <p>The measurements we used to obtain this result are listed below. You can read more about our methodology, statistical results, and some defenses against fingerprinting in <a href="/browser-uniqueness.pdf">this article</a>.</p>
  <p>We’ve designed Panopticlick to be an analytical tool that will help you understand more about what protections you have in place.  However, please understand that trackers can be both crafty and subtle, and can use new or different tracking systems that may not be tested through Panopticlick.</p>
</div>
<table id="results">
  <tr>
    <th>Browser Characteristic</th>
    <th>bits of identifying information</th>
    <th>one in <i><font face=times new roman,times,serif>x</font></i> browsers have this value</th>
    <th>value</th>
  </tr>
  {% for key, label in labels.iteritems(): %}
    <tr>
      <td>{{ label }}</td>
      <td><center>{{ uniqueness[key]['bits'] }}</center></td>
      <td><center>{{ uniqueness[key]['one_in_x'] }}</center></td>
      <td><font size='-2'>{{ whorls[key] }}</font></td>
    </tr>
  {% endfor %}
</table>
<font size='-2'>Thanks to <a href="http://browserspy.dk">browserspy.dk</a> for the font detection code, and to <a href="https://labs.isecpartners.com/breadcrumbs/breadcrumbs.html">breadcrumbs</a> for supercookie help.<br><a href="/faq">Frequently asked questions.</a><br>Send other questions or comments to <a href="mailto:panopticlick@eff.org">panopticlick@eff.org</a>.</font>
