<br>
<div class='entropy' style='text-align:center border:1px'>
  {% if matching == 1: %}
    <p>Your browser fingerprint <strong>appears to be unique</strong> among the {{ total_formatted }} tested in the past 45 days.</p>
  {% else %}
    <p>Within our dataset of {{ sample_string }} visitors tested in the past 45 days, {% if group > 100 %}only {% endif %}<strong>one in {{ group }} browsers have the same fingerprint as yours.</strong></p>
  {% endif %}
  <p>Currently, we estimate that your browser has a fingerprint that conveys <strong>{% if matching == 1 %}at least {% endif %}{{ bits }} bits of identifying information.</strong></p>
  {% if total < 10000 %}
    <p>Because our dataset is still quite small, you might want to check back later for a more accurate measurement of your browser's uniqueness.</p>
  {% endif %}
  <p>The measurements we used to obtain this result are listed below. You can <a href="about">read more about our methodology, statistical results, and some defenses against fingerprinting here</a>.</p>
</div>
<table id="results">
  <tr>
    <th>Browser Characteristic</th>
    <th>bits of identifying information</th>
    <th>one in <i><font face=times new roman,times,serif>x</font></i> browsers have this value</th>
    <th>value</th>
  </tr>
  {% for key, label in labels.items(): %}
    <tr>
      <td>{{ label }}</td>
      <td>
        <center>
          {{ uniqueness[key]['bits'] }}
        </center>
      </td>
      <td>
        <center>
          {% if uniqueness[key]['one_in_x'] == -1 %}
            <span class='ii'>N/A</span>
          {% else %}
            {{ uniqueness[key]['one_in_x'] }}
          {% endif %}
        </center>
      </td>
      <td><font size='-2'>{{ whorls[key] }}</font></td>
    </tr>
  {% endfor %}
</table>
