<br>
<div class='entropy' style='text-align:center border:1px'>
  {% if matching == 1: %}
    <p>Your browser fingerprint <strong>appears to be unique</strong> among the {{ total_formatted }} tested so far.</p>
  {% else %}
    <p>Within our dataset of {{ sample_string }} visitors, {% if group > 100 %}only {% endif %}<strong>one in {{ group }} browsers have the same fingerprint as yours.</strong></p>
  {% endif %}
  <p>Currently, we estimate that your browser has a fingerprint that conveys <strong>{% if matching == 1 %}at least {% endif %}{{ bits }} bits of identifying information.</strong></p>
  {% if total < 10000 %}
    <p>Because our dataset is still quite small, you might want to check back later for a more accurate measurement of your browser's uniqueness.</p>
  {% endif %}
  <p>The measurements we used to obtain this result are listed below.  You can read more about our methodology, statistical results, and some defenses against fingerprinting in <a href="/browser-uniqueness.pdf">this article</a>.</p>
  <p>
    Help us increase our sample size:
    <span style="padding-left:5px">
      <a href="mailto:?subject=How%20unique%20and%20trackable%20is%20your%20web%20browser%3F&amp;body=When%20you%20visit%20a%20website%2c%20you%20are%20allowing%20that%20site%20to%20access%20a%20lot%20of%20information%20about%20your%20computer.%20Combined%2c%20this%20information%20can%20create%20a%20kind%20of%20fingerprint%20%e2%80%94%20a%20signature%20that%20could%20be%20used%20to%20identify%20you%20and%20your%20computer.%20But%20how%20effective%20would%20this%20kind%20of%20online%20tracking%20be%3f%0d%0a%0d%0aEFF%20is%20running%20an%20experiment%20to%20find%20out.%20Visit%20http%3a%2f%2fpanopticlick.eff.org%20to%20learn%20how%20unique%20your%20browser%20is%20and%20if%20you%20can%20be%20tracked." target="_blank"><img alt="Email This" src="https://www.eff.org/sites/all/themes/frontier/images/social/email.gif"></a>
      <a href="http://digg.com/submit?url=http%3a%2f%2fpanopticlick.eff.org&amp;title=How+unique+and+trackable+is+your+web+browser%3F" target="_blank"><img alt="Digg This" src="https://www.eff.org/sites/all/themes/frontier/images/social/digg.gif"></a>
      <a href="http://www.reddit.com/submit?url=http%3a%2f%2fpanopticlick.eff.org" target="_blank"><img alt="Post this to Reddit" src="https://www.eff.org/sites/all/themes/frontier/images/social/reddit.gif"></a>
      <a href="http://del.icio.us/post?url=http%3a%2f%2fpanopticlick.eff.org&amp;title=How+unique+and+trackable+is+your+web+browser%3F" target="_blank"><img alt="Share Panopticlick with delicious" src="https://www.eff.org/sites/all/themes/frontier/images/social/delicious.gif"></a>
      <a href="http://www.facebook.com/share.php?u=http%3a%2f%2fpanopticlick.eff.org&amp;t=How+unique+and+trackable+is+your+web+browser%3F" target="_blank"><img alt="Share this on Facebook" src="https://www.eff.org/sites/all/themes/frontier/images/social/facebook.gif"></a>
      <a href="http://twitter.com/home?status=How+unique+and+trackable+is+your+web+browser%3F%20http%3a%2f%2fpanopticlick.eff.org" target="_blank"><img alt="Tweet Panopticlick" src="https://www.eff.org/sites/all/themes/frontier/images/social/twitter.gif"></a>
      <a href="http://identi.ca/notice/new?status_textarea=How+unique+and+trackable+is+your+web+browser%3F%20http%3a%2f%2fpanopticlick.eff.org" target="_blank"><img alt="Dent Panopticlick" src="https://www.eff.org/sites/all/themes/frontier/images/social/identica.gif"></a>
    </span>
  </p>
</div>
<table id="results">
  <tr>
    <th>Browser Characteristic</th>
    <th>bits of identifying information</th>
    <th>one in <i><font face=times new roman,times,serif>x</font></i> browsers have this value</th>
    <th>value</th>
  </tr>
  {% for key, label in labels.iteritems(): %}
    <tr>
      <td>{{ label }}</td>
      <td><center>{{ uniqueness[key]['bits'] }}</center></td>
      <td><center>{{ uniqueness[key]['one_in_x'] }}</center></td>
      <td><font size='-2'>{{ whorls[key] }}</font></td>
    </tr>
  {% endfor %}
</table>
<font size='-2'>Thanks to <a href="http://browserspy.dk">browserspy.dk</a> for the font detection code, and to <a href="https://labs.isecpartners.com/breadcrumbs/breadcrumbs.html">breadcrumbs</a> for supercookie help.<br><a href="/faq">Frequently asked questions.</a><br>Send other questions or comments to <a href="mailto:panopticlick@eff.org">panopticlick@eff.org</a>.</font>
