{% extends "layout.html" %}

{% block head %}
  <script src="static/plugin-detect-0.6.3.js" type="text/javascript"></script>
  <script src="static/deployJava.js" type="text/javascript"></script>
  <script src="{{ url_for('bower.static', filename='jquery.flash/jquery.flash.js') }}" type="text/javascript"></script>
  <script src="static/fp2.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <blink><h3>Result not available due to site maintenance.  Please check back in a few hours.</h3></blink>
  <noscript>
    <meta http-equiv="refresh" content="0;url=/fingerprint-nojs">
  </noscript>
{% endblock %}
