{% extends "layout.html" %}

{% block head %}
  <script src="static/plugin-detect-0.6.3.js" type="text/javascript"></script>
  <script src="static/deployJava.js" type="text/javascript"></script>
  <script src="static/fp2.js" type="text/javascript"></script>
  {% include 'dist/fp2.html' %}
  <script src="static/jquery.flash.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <blink><h3>Please wait...</h3></blink>
  <noscript>
    <meta http-equiv="refresh" content="0;url=/fingerprint-nojs">
  </noscript>
{% endblock %}
