{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block head %}
  <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}" type="text/javascript"></script>
  <script src="static/front.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
  <div id="credit">
    <a href="https://www.eff.org" title="Electronic Frontier Foundation homepage"><img src="static/images/eff-logo.gif" alt="EFF" width="61" height="43" /></a><br />
    <small>A research project of the <a href="https://www.eff.org" title="Electronic Frontier Foundation homepage">Electronic Frontier Foundation</small></a>
  </div>
{% endblock %}

{% block body %}
  <div id="front">
    <p style="text-align:justify">Is your browser configuration rare or unique?
    If so, web sites may be able to track you, <em>even if you limit or disable cookies.</em></p>
    
    <p style="text-align:justify">Panopticlick tests your browser to see how unique it is based on the <a href="https://www.eff.org/deeplinks/2010/01/primer-information-theory-and-privacy">information</a> it will share with sites it visits. Click below and you will be given a uniqueness score, letting you see how easily identifiable you might be as you surf the web.</p>

    <p>Only <a href="privacy">anonymous data</a> will be collected by this site.</p>

    <div id="buttons">
      <div class="row">
        <a href="/tracker-preflight-nojs" class="circle" id="trackerlink" title="Click here to test how trackable your browser is">Test me</a>
      </div>
    </div>

    <p>A paper reporting the statistical results of this experiment is now available: <a href="static/browser-uniqueness.pdf">How Unique Is Your Browser?</a>, Proceedings of the Privacy Enhancing Technologies Symposium (PETS 2010), Springer Lecture Notes in Computer Science.</p>
  </div>
{% endblock %}

{% block java %}{% endblock %}
{% block footer %}{% endblock %}
