{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block head %}
  {% include 'dist/tippy.html' %}
  <script src="static/front.js" defer type="text/javascript"></script>
  <body id="front">
{% endblock %}

{% block body %}

    <aside>
      <p>Test your browser to see how well you are protected from tracking and fingerprinting:</p>
      <a href="/kcarter-nojs" class="button-style" id="kcarterlink" >Test Your Browser</a>
      <input type='checkbox' checked='checked'id="real" />
      <label id='acceptable_ads' for="real">Test with a real tracking company <sup id='whats-this'><a href="">?</a></sup></label>
      <br/>
      <p>How does tracking technology follow your trail around the web, even if you’ve taken protective measures? Cover Your Tracks shows you how trackers see your browser. It provides you with an overview of your browser’s most unique and identifying characteristics. </p>
      <p>Only <a href="/privacy">anonymous data</a> will be collected through this site.
      </p>
      <hr>
      <p>Want to learn more about tracking? Read how it works with our guide:
      </p>

      <a href="/learn" class="button-style">Learn More About Fingerprinting</a>

    </aside>
    <div class="main-section">
      <button class="button-style stop">stop animation</button>
      <div class="static-tracks">
        <img src="/static/images/static-tracks2.svg">
      </div>
      <div class="animation">
        <div class="footprints"> <!-- fox -->
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          <div class="foot"></div>
          </div>
          <div class="footprints"> <!-- antelope -->
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>
          <div class="footprints">  <!-- bird -->
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>
          <div class="footprints">  <!-- deer -->
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>
          <div class="footprints">  <!-- horse -->
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>

          <div class="footprints" x-img="raccoon" first-raccoon>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>
          <div class="footprints" x-img="raccoonfoot" first-raccoonfoot>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
            <div class="foot"></div>
          </div>
        </div>
    </div>

  <iframe id="a" style="position:absolute;right:0px;bottom:0px;height:1px;width:1px;" src='https://{{ third_party_trackers['ad_server'] }}/clear-cookies?random={{ cb }}'></iframe>
  <iframe id="t" style="position:absolute;right:0px;bottom:0px;height:1px;width:1px;" src='https://{{ third_party_trackers['tracker_server'] }}/clear-cookies?random={{ cb }}'></iframe>
  <iframe id="dnt" style="position:absolute;right:0px;bottom:0px;height:1px;width:1px;" src='https://{{ third_party_trackers['dnt_server'] }}/clear-cookies?random={{ cb }}'></iframe>
{% endblock %}

{% block java %}{% endblock %}
