<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Panopticlick{% if title %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="stylesheet" href="static/style.new.css" type="text/css" />
    <link rel="shortcut icon" href='/static/favicon.ico'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:image" content="https://panopticlick.eff.org/static/images/panopticlick-og.png"/>
    <meta property="og:image:secure_url" content="https://panopticlick.eff.org/static/images/panopticlick-og.png"/>
    <meta property="og:description" content="Is your browser safe against tracking? "/>
    {% block meta %}
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% endblock %}
    {% include 'dist/jquery.html' %}
    <script src="/static/automatically-resize-footer.js" async></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id='wrapper'>

      {% block header %}
      <div id="header">
        <div class="orange">
          <div class="bar">
            <div class="upper">
              <div class="width-wrapper">
                <div class="title">
                <a href="https://www.eff.org/"><img class="logo" src="/static/images/eff-logo-red.svg" alt="EFF logo"></img></a>
                  A RESEARCH PROJECT OF THE <a href="https://www.eff.org/">ELECTRONIC FRONTIER FOUNDATION</a>
                </div>
                <a class="donate" href="https://supporters.eff.org/donate/panopticlick">
                  DONATE
                </a>
              </div>
            </div>
            <div class="lower"></div>
          </div>
          <a href="https://panopticlick.eff.org">
            <img class="title" src="./static/images/title.png" />
          </a>
          <div class="subtitle">
            Is your browser safe against tracking?
          </div>
        </div>
        <img class="orange-slash" src="./static/images/triangle.png" />
      </div>
      {% endblock %}

      <div id="content">
        <div class="content-background">
          {% block body %}{% endblock %}
        </div>
      </div>

      {% block java %}
        <style>
          .userData {behavior:url(#default#userdata);}
        </style>

        <element class="userData" id="oPersistElement">

        <script type="text/javascript">
          var attributes = {codebase: "java", code: "fonts.class", id: "javafontshelper", name: "javafontshelper", "mayscript": "true", width: 1, height: 1};
          if (deployJava.versionCheck('1.1+'))
            deployJava.writeAppletTag(attributes);
        </script>
        <div id="flashcontent"></div>
        <div id="oPersistDiv" class="userData"></div>
        <script src="static/fetch_whorls.js" type="text/javascript">
        </script>
      {% endblock %}

      {% block footer %}
        <div id="footer">
          <div class="social-share-buttons">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpanopticlick.eff.org%2F&amp;display=popup">Share on Facebook</a>
            <a href="https://twitter.com/home?status=Worried%20about%20online%20tracking?%20Find%20out%20how%20vulnerable%20you%20really%20are%20with%20Panopticlick%20https%3A//panopticlick.eff.org&amp;related=eff">Share on Twitter</a>
            <a href="https://plus.google.com/share?url=https://panopticlick.eff.org">Share on Google+</a>
          </div>

          <a href="https://www.eff.org/"><img class="logo" src="static/images/logo.svg" alt="EFF logo"></img></a>

          <div class="subtitle">
            A research project of the <a href="https://www.eff.org">Electronic Frontier Foundation</a>
          </div>

          <div class="links">
            <a href="/about">About Panopticlick</a>
            <a href="https://supporters.eff.org/donate/panopticlick">Donate to EFF</a>
            <a href="https://www.eff.org/about/contact">Contact</a>
            <a href="/privacy">Privacy</a>
            <a href="https://www.eff.org/copyright">CC-License</a>
            <a href="/static/browser-uniqueness.pdf">Paper</a>
          </div>
        </div>
      {% endblock %}

    </div>
  </body>
</html>
