{% extends "layout.html" %}

{% block body %}
  <div id="privacy">
    <h1>Old Panopticlick Privacy Policy (Jan 27, 2010 - Dec 17, 2015)</h1>

    <p>The goal of this project is to measure and study how uniquely identifiable
    web browsers are.  All of the data for the project will be collected in an
    anonymized form which ensures that it is not Personally Identifiable
    Information, nor otherwise likely to lead to the identification or tracking of
    any web users.</i>.

    <p><strong>PLEASE NOTE: EFF's General Privacy Policy does NOT apply in full to
    this website.</strong> Due to the nature of the project, and the information
    that will be collected in the course of the research project, this alternate
    privacy policy applies.  Should you have any questions about this
    privacy policy or any use of the data collected, please contact
    <tt>coveryourtracks@eff.org</tt>.</p>

    <p>The Electronic Frontier Foundation (EFF) is committed to protecting
    the privacy of visitors to our website, as well as our members and
    activists. EFF has established this Panopticlick Privacy Policy to
    explain what information we collect through this website and how it is
    used.</p>

    <p>In this policy, "EFF" and "we" refer to EFF staff, board members, cooperating
    attorneys, interns, volunteers, and consultants, all of whom are bound by law
    or contract to keep information they receive as part of their assistance to
    EFF confidential.</p>

    <h3>Information Gathered by EFF's Panopticlick Website</h3>

    <p>In general, Panopticlick collects anonymous data about the configuration of
    computers, operating systems, browsers and plugins.  If you click the "test
    me" button, this type of information will be collected from your browser.
    Although these kinds of data may form a `fingerprint' that could in principle
    be combined with information about page requests and identifying details in
    order to track people's browsing habits, <i>EFF will never do so</i>.</p>

    <p>The specific `fingerprint' information we collect is:</p>

    <ul>
    <li>The user agent string from each browser</li>
    <li>The HTTP ACCEPT headers sent by the browser</li>
    <li>Screen resolution and color depth</li>
    <li>The Timezone your system is set to</li>
    <li>The browser extensions/plugins, like Quicktime, Flash, Java or
    Acrobat, that
    are installed in the browser, and the versions of those plugins</li>
    <li>The fonts installed on the computer, as reported by Flash or Java.</li>
    <li>Whether your browser executes JavaScript scripts</li>
    <li>Yes/no information saying whether the browser accepts various
    kinds of cookies and "super cookies"</li>
    </ul>

    <p>In addition, we collect several kinds of `housekeeping' information to
    assist us in analyzing the fingerprint data.  The housekeeping information
    is:</p>

    <ul>
    <li>Cookies</li>
    <li>Encrypted IP addresses</li>
    <li>Timestamps</li>
    </ul>

    Our practices and purposes for collecting these housekeeping records are
    discussed below:

    <h4>Cookies</h4>

    Panopticlick sets a cookie that persists for 3 months for the sole purpose of
    determining how often browser characteristics change, and how often they stay
    the same, when a browser returns over time.  If your browser is configured to
    accept cookies, and you return to Panopticlick several times, the cookie will
    be used to link the data from your visits together.  To learn how to limit,
    manage or block any website from using cookies to track your browsing,
    <a href="https://ssd.eff.org/tech/browsers#cookies">read more here</a>.

    <h4>IP addresses</h4>

    Panopticlick does not log IP addresses, but we do compute cryptographic "keyed
    hashes" or <a href="http://en.wikipedia.org/wiki/HMAC">HMAC</a>s of each IP address, using a key which we periodically
    discard.  This hashed IP will allow us to collect an anonymous dataset about
    how often browsers that change IP address could have been followed using a
    fingerprint.

    <h4>Timestamps</h4>

    Panopticlick collects a "fuzzy" timestamp, rounded to the nearest hour,
    each time it is visited.  This will be used to measure how fast browser
    fingerprints change, but for no other purpose.

    <h3>EFF's Use of Information from Panopticlick</h3>

    <p>In general, EFF uses the information provided by you to further its
    mission, protect privacy, defend freedom, and protect your rights in
    the digital world.</p>

    <p>We may look at technical information to diagnose problems with our server
    and to administer the Panopticlick website.</p>

    <p><i>Panopticlick has no Third-Party Service Providers.</i></p>

    <h3>Sharing of Panopticlick data</h3>

    EFF may publish or share aggregated, statistical data from the Panopticlick
    project in order to facilitate privacy research, educate people about privacy
    problems, and to aid in the development of privacy-enhancing technologies.  We
    have gone to great lengths to ensure that Panopticlick does not produce any
    records about anyone's browsing habits or the identities of any individual
    visitors, so we will never be in a position where we could share any such
    records.

    <h3>Changes to Our Policies</h3>

    EFF's Panopticlick Privacy Policy may change from time to time.
    However, any revised privacy policy will be consistent with EFF's
    mission. If we make any substantive changes to our policies, we will
    place notice in EFFector and post notice of changes on this page.

    <h3>Security</h3>
    <p>EFF employs industry standard security measures to protect the loss,
    misuse, and alteration of the information under our control.</p>

    <p>Although we make good faith efforts to store information collected by
    EFF in a secure operating environment, we cannot guarantee complete
    security. Information collected by EFF will be maintained for a length
    of time appropriate to our needs.</p>

  </div>
{% endblock %}
