{% extends "layout.html" %}

{% block body %}
  <div id="privacy">
    <h1>Panopticlick Privacy Policy</h1>

    <p> The goal of this project is to measure and study how uniquely identifiable
        web browsers are. All of the data for the project will be collected in an
        anonymized form which ensures that it is not Personally Identifiable Information,
        nor otherwise likely to lead to the identification or tracking of any web users.</p>

    <p> <strong>PLEASE NOTE: EFF's General Privacy Policy does NOT apply in full to
        this website.</strong> Due to the nature of the project, and the information
        that will be collected in the course of the research project, this alternate
        privacy policy applies. Should you have any questions about this privacy policy
        or any use of the data collected, please contact <tt>coveryourtracks@eff.org</tt>.</p>


    <p> The Electronic Frontier Foundation (EFF) is committed to protecting the
        privacy of visitors to our website, as well as our members and activists.
        EFF has established this Panopticlick Privacy Policy to explain what
        information we collect through this website and how it is used.</p>

    <p> In this policy, "EFF" and "we" refer to EFF staff, board members,
        cooperating attorneys, interns, volunteers, and consultants, all of
        whom are bound by law or contract to keep information they receive as
        part of their assistance to EFF confidential.</p>

    <h3>Information Gathered by EFF's Panopticlick Website</h3>

    <p> In general, Panopticlick collects anonymous data about the configuration
        of computers, operating systems, browsers plugins, adblockers and other
        privacy software. If you click the “test me” buttons, this type of information
        will be collected from your browser. Although these kinds of data may form a
        `fingerprint' that could in principle be combined with information about page
        requests and identifying details in order to track people's browsing habits,
        <i>EFF will never do so</i>.</p>

    <p>The specific `fingerprint' information we collect includes:</p>

    <ul>
      {% include '_fingerprinting_collects.html' %}
      <li>Other fingerprinting information that indicates which privacy tools you have installed, which may include:
          <ul>
            <li>Whether your browser makes connections to various third party URLs, which have characteristics that would typically indicate that they serve advertising, analytics, or other forms of tracking code;</li>
            <li>The presence or absence of DOM elements that indicate the operation or absence of an ad- or tracker-blocker; or</li>
            <li>Whether we believe that your IP address is a Tor exit relay or VPN.</li>
          </ul>
      </li>
    </ul>

    <p> In addition, we collect several kinds of `housekeeping' information to
        assist us in analyzing the fingerprint data. The housekeeping information is:</p>

    <ul>
    <li>Cookies</li>
    <li>Encrypted IP addresses</li>
    <li>Timestamps</li>
    </ul>

    <p> Our practices and purposes for collecting these housekeeping records are
        discussed below:</p>

    <h4>Cookies</h4>

    <p> Panopticlick sets a cookie that persists for 3 months for the sole purpose
        of determining how often browser characteristics change, and how often they
        stay the same, when a browser returns over time. If your browser is configured
        to accept cookies, and you return to Panopticlick several times, the cookie
        will be used to link the data from your visits together.</p>

    <h4>IP addresses</h4>

    <p> Panopticlick does not log IP addresses, but we do compute cryptographic
        "keyed hashes" or  <a href="http://en.wikipedia.org/wiki/HMAC">HMAC</a>s of each
        IP address, using a key which we periodically discard. This hashed IP will allow
        us to collect an anonymous dataset about how often browsers that change IP address
        could have been followed using a fingerprint.</p>


    <p>For visitors to our website, we generally log requests to our website
        for up to seven days from when the data was collected after stripping
        the visitor's IP address from the request.  Circumstances in which EFF
        may need to log and retain IP addresses and other technical information
        include when we believe it is reasonably necessary for EFF’s mission and
        functionality, including situations such as:</p>

    <ul>
      <li>site testing,</li>
      <li>diagnosis of technical problems,</li>
      <li>defending against attacks to the site,</li>
      <li>handling a spike in traffic or other abnormal, short-term circumstances.</li>
    </ul>

    <h4>Timestamps</h4>

    <p>Panopticlick collects a timestamp each time it is visited. This will be used to measure how fast browser fingerprints change, but for no other purpose.</p>

    <h3>EFF's Use of Information from Panopticlick</h3>

    <p> In general, EFF uses the information provided by you to further its mission,
        protect privacy, defend freedom, and protect your rights in the digital world.</p>

    <p> We may look at technical information to diagnose problems with our server
        and to administer the Panopticlick website.</p>

    <p> <em>Panopticlick has no Third-Party Service Providers. However EFF uses simulators
        of third party tracking systems, in order to determine whether the visitor's
        browser is protected against similar trackers. Please note that our simulators
        may not encompass all the possible ways that a third party tracking system
        may operate.</em></p>

    <h3>Sharing of Panopticlick data</h3>

    <p> From time to time, EFF may also share datasets derived from our technology
        projects with research partners working on topics related to Internet security,
        censorship resistance, privacy or other public policy objectives. We may also
        publish datasets in an effort to further these objectives. The datasets we may
        share or publish will not intentionally contain personally identifiable
        information.</p>

    <p>Before sharing, we will evaluate whether further sanitization or aggregation of data is necessary to reduce the likelihood that inferences about identifiable individuals' activities might be made from the published dataset. Because anonymization is an algorithmically complex problem, we cannot promise that it will be flawless or attack-proof. When we believe that a dataset may contain information that is especially sensitive or vulnerable to de-anonymition, we will not publish it, and if we share such data with research partners, we will place them under a contractual obligation to keep the dataset confidential and avoid de-anonymization.</p>


    <h3>Changes to Our Policies</h3>

      <p>EFF's Panopticlick Privacy Policy may change from time to time. However,
      any revised privacy policy will be consistent with EFF's mission. If we
      make any substantive changes to our policies, we will place notice in
      EFFector and post notice of changes on this page.</p>

    <h3>Security</h3>
    <p> EFF employs industry standard security measures to protect the loss, misuse,
        and alteration of the information under our control.</p>

    <p>Although we make good faith efforts to store information collected by EFF in
    a secure operating environment, we cannot guarantee complete security. Information
    collected by EFF will be maintained for a length of time appropriate to our needs.</p>

    <p style='font-style: italic; font-size: 95%;'>Updated December 17, 2015 to reflect the changes in version 2.0 of our tracking and fingerprinting detection tool.</p>

    <h3>Previous Privacy Policies</h3>
    <ul>
      <li><a href='/privacy-1.0'>Jan 27, 2010 - Dec 17, 2015</a></li>
    </ul>
  </div>
{% endblock %}
