{% extends "layout.html" %}

{% block java %}
{% endblock %}

{% block body %}
  <p style='font-weight: bold; font-size: 15px;'>
    ... Testing your browser. How well does it protect you from tracking? ...<br>
    <img src='/static/images/ajax-loader.gif' alt='loading...'>
  </p>
  <iframe id="a" style="position:absolute;right:0px;bottom:0px;height:1px;width:1px;"></iframe>
  <iframe id="t" style="position:absolute;left:0px;bottom:0px;height:1px;width:1px;"></iframe>
  <iframe id="dnt" style="position:absolute;left:0px;bottom:0px;height:1px;width:1px;"></iframe>
  <script type="text/javascript">

    window.onload = function(){
      var next = '{{ next_link }}';

      var cb = Math.floor((Math.random()*1000000)+1);
      var a = document.getElementById('a');
      a.src = 'https://{{ third_party_trackers['ad_server'] }}/tracking-tally?&ad_url=' + cb;

      var t = document.getElementById('t');
      t.src = 'https://{{ third_party_trackers['tracker_server'] }}/tracking-tally?&trackingserver=' + cb;

      var dnt = document.getElementById('dnt');
      dnt.src = 'https://{{ third_party_trackers['dnt_server'] }}/tracking-tally?&random=' + cb;

      window.addEventListener("message", receiveMessage, false);
      function receiveMessage(event){
        if(event.origin == "https://{{ third_party_trackers['ad_server'] }}"){
          next += '&a={{ request.args.get('a') or '' }}1';
        }
        if(event.origin == "https://{{ third_party_trackers['tracker_server'] }}"){
          next += '&t={{ request.args.get('t') or '' }}1';
        }
        if(event.origin == "https://{{ third_party_trackers['dnt_server'] }}"){
          next += '&dnt={{ request.args.get('dnt') or '' }}1';
        }
      }

      setTimeout(function(){
        window.location = next;
      },3000);
    }

    window.onunload=function() {};
  </script>
  <noscript>
    <meta http-equiv="refresh" content="0;url=/tracker-nojs">
  </noscript>

{% endblock %}
