{% extends "layout.html" %}

{% block body %}
  <div id="front">
    <span style='font-weight: bold; font-size: 17pt;'>Note to users that block JavaScript:</span>
    <p>If you combine JavaScript blocking with domain blacklist tools like AdAway you might see errors in the tracker test.  If that happens, you can still get fingerprinting results <a href='/fingerprint-nojs'>here.</a></p>
    <div id="buttons">
      <div class="row">
        <a target='_blank' href="/tracker-nojs" class="circle" id="trackerlink" title="Click here to test how trackable your browser is">Proceed to Test</a>
      </div>
    </div>
  </div>
{% endblock %}
