{% extends "layout.html" %}

{% block body %}
  <div id="front">
    <span style='font-weight: bold; font-size: 17pt;'>Warning!</span>
    <p>This test may break if you've installed domain blacklist based protection technology.  In this case, you can view the results of <a href='/fingerprint-nojs'>browser fingerprinting</a> separately.  If you still wish to see the results of your tracker-blocking software, you'll have to enable javascript before taking the <a href='/tracker'>javascript-enabled tracker protection test</a>.</p>
    <div id="buttons">
      <div class="row">
        <a target='_blank' href="/tracker-nojs" class="circle" id="trackerlink" title="Click here to test how trackable your browser is">Test me</a>
      </div>
    </div>
  </div>
{% endblock %}
