//@charset "utf-8";

//@import
//'_learn-animation'
//;

// variables
$green-light: #4D8061;
$green:  #305D42; // background
$green-dark: #1E3A29;
$beige: #F5EFEB;
$red:  #D3473D;
$yellow: #DECA54;
$yellow-dark: #F6AD0F;
$plum: #2E243F;// text
$blue-light: #86BCD1;

$mobile: 768px;

/* table of contents:
** fonts
** base styles
** header
** nav
** content
** form elements
** footer
** individual pages
** various custom elements (tooltips etc)
** learn animation
** mobile styles
*/

/* fonts */

@font-face {
  font-family: 'WorkSans';
  src: '/static/fonts/WorkSans-VariableFont_wght.ttf' format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 100%;
}

/* base styles */
body {
  background: $beige;
  color: $plum;
  font-family: 'WorkSans', Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

a {
  border-bottom: 1px solid $green-dark;
  color: $green-dark;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $plum;;
    color: $plum;;
  }

  img {
    border: 0;
  }
}

h1 {
  color: $green;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
  text-transform: uppercase;
  span {
    /* Tracks of Cover Your Tracks */
    font-size: 79px;
    line-height: 48px
  }
}

a h1:hover {
  color: $plum;
}

h2 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 0;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  font-weight: 800;
}
h4 {
  color: $plum;
  font-size: 26px;
  font-weight: 800;
  margin: 3rem 0 0.5rem;
  text-transform: uppercase;
}
h5 {
  font-size: 20px;
  font-weight: 800;
  margin: 1.5rem 0 1rem;
  text-transform: uppercase;
}

hr {
  border-top: 1px solid $red;
}

.wrapper {
  background: transparent;
  margin: 0 auto;
  max-width: 1440px;
}

/* header */

.header {
  a {
    outline: none;
    &:hover {
      text-decoration: none;
    }
  }

  .banner {
    margin-bottom: 2rem;
    .bar  {
      background-color: black;
      display: flex;
      height: 3rem;
      margin: 0 auto;
      width: 100%;
      img.logo {
        height: 13px;
        padding: 0 0.25rem;
      }
      .attribution {
        color: white;
        font-size: 16px;
        margin-left: 1rem;
        position: relative;
        top: 0.9rem;
        a {
          color: white;
          border-bottom: 1px solid white;
          font-weight: normal;
        }
      }
    }
    .tagline {
      color: black;
      font-size: 27px;
      font-weight: bold;
      margin: 6px 0 0;
    }
    .title-area {
      align-items: flex-end;
      border-bottom: 1px solid $red;
      display: flex;
      justify-content: flex-end;
      margin-left: 5rem;
      padding: 0 0 1rem;
    }
  }
}

.header .banner .title-area .site-title {
  width: 75%;
}

/* nav */
.header {
  nav {
    padding-bottom: 0.2rem;
    margin-left: 10%;
    width: 30%;
    ul {
      list-style-type: none;
      margin: 0;
      width: 100%;
      li {
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 5rem 0 0;
      }
    }
    a {
      color: $plum;
      border-bottom: none;
      &:hover {
        border-bottom: 1px solid $plum;
      }
    }
  }
}

/* content */
.content {
  margin: 1rem 1rem 1rem 5rem;
}
.main-section {
  margin: 0;
  width: 100%;
  .banner {
    width: 100%;
  }
}

aside {
  min-width: 300px;
  width: 22%;
}

iframe {
  border: none;
}

/* form elements */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  background: $beige;
  border: 1px solid $green-dark;
  box-shadow: none;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  height: 1.25em;
  width: 1.25em;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  border: 1px solid gray;
  background-image: url("/static/images/check.svg");
  background-position: center;
  background-size: 31px;
  content: '';
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  transition:background-color 0.1s linear;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* 'sliders' */
input[type=range] {
  background: $beige;
  margin: 1.5rem 0;
  -webkit-appearance: none;
  width: 5rem;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: $beige;
  border-radius: 1rem;
  border: 2px solid $green;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
}
input[type=range]::-webkit-slider-thumb {
  background: $green;
  border: 2px solid $green;
  border-radius: 1rem;
  cursor: pointer;
  height: 1.8rem;
  margin-top: 0;
  -webkit-appearance: none;
  width: 1.8rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $beige;
}
input[type=range]::-moz-range-track {
  background: $beige;
  border-radius: 1rem;
  border: 2px solid $green;
  cursor: pointer;
  height: 1.8rem;
  width: 5rem;
}
input[type=range]::-moz-range-thumb {
  background: $green;
  border: 2px solid $green;
  border-radius: 1rem;
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
  cursor: pointer;
  height: 1.8rem;
  width: 5rem;
}
input[type=range]::-ms-fill-lower {
  background: $green-light;
  border: 0.2px solid $green-light;
  border-radius: 1rem;
}
input[type=range]::-ms-fill-upper {
  background: $green;
  border: 0.2px solid $green;
  border-radius: 1rem;
}
input[type=range]::-ms-thumb {
  background: $green;
  border: 2px solid $green;
  border-radius: 3px;
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
}
input[type=range]:focus::-ms-fill-lower {
  background: $beige;
}
input[type=range]:focus::-ms-fill-upper {
  background: $beige;
}

/* individual pages */
/* front/home page */
#front {
  background: $green;

  h1 {
    color: $beige;
  }

  .header .banner .title-area {
    border-bottom: none;
  }

  .header nav a {
    color: $beige;
    &:hover {
      border-bottom: 1px solid $beige;
    }
  }

  aside {
    background: $yellow;
    padding: 3.5rem 3rem;
    border: 1px solid $yellow;
    border-radius: 1rem;
    hr {
      border: none;
      border-top: medium double $green;
      color: $green;
      margin: 2.5rem 0 0;
      overflow: visible;
      padding: 0;
      text-align: center;
      &:after {
        background: $yellow;
        content: "★";
        display: inline-block;
        font-size: 1.3rem;
        position: relative;
        top: -1rem;
        padding: 0 0.5em;
      }
    }
  }
  .content {
    display: flex;
    width: auto;
    .main-section {
      background-image: url("/static/images/home-image.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 1rem 0 1rem 1rem;
      width: 78%;
    }
  }
}

/* learn */

#learn {
  h4 {
    text-transform: none;
  }
  .spectrum img {
    width: 100%;
  }

  .interactive,
  .definitions {
    display: flex;
    border-bottom: 1px solid $red;
    justify-content: space-between;
    padding: 2rem 0;
    width: 100%;
  }

  .slider-container {
    width: 30%;
  }

  .slider-block {
    display: flex;
    width: 100%;
    .range {
      width: 20%;
    }
    output {
      display: block;
      font-size: 0.9rem;
      font-weight: 600;
      width: 6rem;

    }
    .slider-desc {
      margin-left: 1rem;
      width: 75%;
    }
  }

  .definitions {
    flex-wrap: wrap;
    .text,
    .image {
      width: 50%;
    }
  }
}

/* testing page */
#testing {
  background: $green-dark;
  color: $beige;
  h1,
  .tagline,
  nav {
    color: $beige;
  }
  h2 {
    color: $yellow;
    font-size: 48px;
  }
  .header nav a {
    color: $beige;
    &:hover {
      border-bottom: 1px solid $beige;
    }
  }
  .testing {
    margin: 5rem auto;
    max-width: 60%;
  }

}

/* privacy page */
#privacy, #about, #self-defense {
  margin: 0 auto;
  text-align:left;
}

#privacy h2, #about h2 {
  margin: 0;
}

/* results page */
#results-wrapper {
  display: flex;
  margin: 0 auto;
  .row {
    margin: 16px auto 0;
  }
  aside {
    h4:first-child {
      margin-top: 1rem;
    }
  }

  .main-section {
    margin: 0 0 0 5rem;
  }

  h3.indicate {
    color: $plum;
    font-weight: 600;
    margin-top: 1rem;
    text-transform: none;
    span {
      color: $red;
    }
  }

  h4, h5 {
    text-transform: none;
  }

  table#results.tracker_results{
    margin: 2rem 0;
    border-collapse: separate;

    td, th {
      border: 1px solid $red;
      font-weight: 600;
      padding: 0.5rem;
      text-align: left;
    }
    td:nth-child(2) {
      text-align: center;
    }

  }
  .complimentary_text{
    color: $beige;
    text-align: center;
  }

  #showFingerprintLink2 { // link for detailed view
    border: 1px solid $red;
    border-radius: 3px;
    color: $red;
    display: block;
    font-size: 0.9rem;
    margin: 1rem 0;
    padding: 1rem;
    span {
      color: $red;
    }
    a, a:hover {
      color: $red;
      text-decoration: none;
    }
  }
  .button-style {
    box-shadow: none;
    color: $plum;
    width: 200px;
    &:hover {
      border-color: $plum;
      color: white;
    }
  }
  #default-button {
    background: $yellow-dark;
    border: 1px solid $yellow-dark;
  }
  #detailed-button {
    background: $red;
    border: 1px solid $red;
  }
  #default-button.button-style.active,
  #detailed-button.button-style.active {
    border-color: $plum;
    color: white;
  }
}

/* footer */
footer {
  display: block;
  margin: 2rem 1rem 0 5rem;
  img.logo {
    height: 40px;
    margin: 22px auto 6px;
    outline: none;
  }
  .links {
    margin: 18px auto 0;
  }
  a {
    border: none;
  }
  .links a {
    color: $plum;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    padding: 0 1rem 2rem 0;
    text-transform: uppercase;
    &:hover {
      border: none;
    }
  }
}

#front footer .links a,
#testing footer .links a {
  color: $yellow;
}

small#center {
  margin:0 60px
}

#ad_status, #tracker_status, #dnt_status{
  vertical-align: middle;
}

.test_label{
  text-align: left;
}
.tracker_results td{
  padding: 5px;
}
#summary_sentence{
  font-size: inherit;
  font-weight: normal;
  margin: 0 0 24px;
}

p#summary_sentence .other_link{
  text-align: center;
  margin: 0px;
}

label#acceptable_ads{
  display: block;
  margin-top: 10px;
}
label#acceptable_ads sup{
  font-size: 70%;
}
.ui-tooltip-content{
  text-align: left;
}
#acceptable_ads_tr{
  display: none;
}

/* various elements */
.button-style {
  background: $beige;
  border: 2px solid $beige;
  border-radius: 8px;
  box-shadow: 0 2px gray;
  clear: both;
  color: $green-dark;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 800;
  margin: 1rem auto;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 80%;
}
.button-style:hover,
.button-style.active {
  background: $green-dark;
  border: 2px solid $green-dark;
  box-shadow: 0 2px black;
  color: $beige;
  text-decoration: none;
}

.tooltip-inner {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-top-color: #333;
}


.fingerprint-thanks {
  padding: 32px 0 0;
}

.ii{
  font-weight: bold;
  color: #a00;
  font-size: 80%;
}

@media screen and (max-width: $mobile) { /* mobile styles */
  h2,
  h3,
  h4,
  h5 {
    text-transform: capitalize;
    transform: scaleX(0.9) scaleY(0.9);
  }

  h1 {
    transform: scaleX(0.9) scaleY(0.9);
  }

  .header {
    margin: 0 auto;
    width: auto;
    .banner {
      margin-bottom: 0;
      .bar  {
        height: 36px;
        .attribution {
          font-size: 0.7rem;
          top: 12px;
          width: 100%;
        }
        .donate {
          margin-right: 10px;
          top: 10px;
        }
        .logo {
          left: 10px;
          top: 10px;
        }
        img.attribution {
          height: 57px;
          width: 250px;
        }
      }
      .title-area {
        flex-direction: column;
        margin: 0 auto;
        width: 97%;
        .site-title {
          width: 100%;
        }
      }
      .tagline {
        font-size: 15px;
      }
      nav {
        padding: 0;
        width: 100%;
        ul {
          margin: 0.5rem 0;
        }
      }
    }
  }
  .content {
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 97%;
    .main-section {
      width: 100%;
    }
  }
  footer {
    margin: 0 auto;
    width: 97%;
  }
  // individual pages
  #front {
    .title-area {
      margin: 0 auto;
      width: 97%;
      h1 span {
        font-size: 48px;
        line-height: inherit;
      }
    }
    .content {
      width: 97%;
      aside {
        margin: 0 auto;
        min-width: 0;
        width: 98%;
      }
      .main-section {
        display: none;
      }
    }
  }

  #learn {
    .animation {
      display: none;
    }
    .interactive,
    .definitions {
      padding: 1rem 0;
    }

    .slider-container {
      width: 100%;
    }

    .slider-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      .range {
        margin-left: 1rem;
        width: 97%;
      }
      output {
        display: block;
        font-size: 0.9rem;
        font-weight: 600;
        width: 6rem;

      }
      .slider-desc {
        width: 97%;
      }
    }

    .definitions {
      display: block;
      width: 100%;
      .image {
        display: none;
      }
      .text,
      .image:first-child {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }


  #results-wrapper {
    flex-wrap: wrap;
    .main-section {
      margin: 0 3px;
      #results {
        .results-buttons {
          background: $beige;
          position: sticky;
          top: 0;
        }
      }
    }
  }
}
